{% extends 'main.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'styles/login_registration.css' %}" />
{%if page == 'login' %}
<div>
  <form method="post" action="">
    {% csrf_token %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <!-- <li style="color: red;">{{ message }}</li> -->
      <p style="color: red">{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="login-form">
      <h2>Login</h2>
      <hr class="feed-line" />
      <input type="text" name="username" placeholder="Enter Username" /> <br />
      <input type="password" name="password" placeholder="Enter password" />
      <br />
      <input type="submit" value="login" />
      <p>Not a user? SignUp here</p>
      <a href="{% url 'register' %}">SignUp</a>
    </div>
  </form>
</div>

{% else %}
<div>
  <form method="post" action="">
    {% csrf_token %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <!-- <li style="color: red;">{{ message }}</li> -->
      <p style="color: red">{{ message }}</p>
      {% endfor %}
    </ul>
    {% endif %} {{form.as_p}}
    <input type="submit" value="Regisiter" />
    <p>Already a user? SignIn here</p>
    <a href="{% url 'login' %}">SignIn</a>
  </form>
</div>

{% endif %} {% endblock content %}
